.mero1{
    display: flex;
    position: absolute;
    top: 160px;
    right: -460px;
    scale: 1;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    transition: transform 0.3s ease-out;
}
.mero2 {
    display: flex;
    position: absolute;
    top: 160px;
    right: -460px;
    scale: 1;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    transition: transform 0.3s ease-out;
}
.mes{
    display: flex;
    position: absolute;
    top: 50px;
    right: -300px;
    scale: 0.6;
    cursor: pointer;
    padding: 5px 10px;
    background-color: transparent;
    transition: transform 0.3s ease-out;
}
.image-container1 {
    display: flex;
    position: absolute;
    top: 330px;
    right: 500px;
    scale: 0.6;
  }
  .image-container2 {
    display: flex;
    position: absolute;
    top: 660px;
    right: 500px;
    scale: 0.6;
  }
  
  .slide-in {
    animation: slideIn 3s forwards;

  }
  .slide-out {
    animation: slideOut 2s forwards;
  }
  @keyframes slideIn{
    0% {
      transform: translateX(100%);

    }
    100% {
      transform: translateX(0%);

    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    99% {
      transform: translateX(-100%);
      opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 0;
    }
  }
 
  .mes-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .mes:hover {
    transform: translateX(-10px);
  }
  