.top-image{
    top: 10%;
    width: 60%;
    display: flex;
    position: absolute;
}
.top-image-container{
    top: 0;
    left: 17%;
    position: absolute;
    width: 2000px;
    height: 100px;
    background-color: transparent;
}